---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Snador',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata} fadeStyle="fade">
    <Hero
      actions={[
        { text: 'Ambient', href: '/homes/ambient/ambient' },
        // { text: 'Electronic Music', href: '#features' },
      ]}
    >
      <Fragment slot="title">Creating music for your senses</Fragment>

      <Fragment slot="subtitle">
        <p class="mt-4">Hey 👋 I create ambient music, fine tuned for your games, movies or sleep troubles.</p>
      </Fragment>

      <Fragment slot="subtitle">
        <p class="mt-4 mb-6">
          If you have trouble getting up in the morning, I also got you covered with my Techno, Trance, Tekno music.
        </p>
      </Fragment>
    </Hero>
</Layout>
