---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';
import '~/assets/styles/fade.css';


export interface Props {
  metadata?: MetaData;
  fadeStyle?: string;
}

const { metadata, fadeStyle } = Astro.props;

---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} />
  </slot>
  <main class={`flex-grow ${fadeStyle}`}>
    <slot class="h-full" />
  </main>
  <slot name="footer" class="mb-0">
    <Footer {...footerData} />
  </slot>
</Layout>